---
layout: base.njk
---
<section class="px-[20%]">
  <div class="container ">
  
      <img class="mb-6 rounded-3xl mx-auto" src="{{ image }}" alt="{{ img-alt }}">
      <p class="pt-10  text-slate-700 text-4xl font-bold">{{ title }}</p>
  </div>

  <div class="text-gray-700 leading-loose pt-4 pb-16">
      {{ content | safe }}
  </div>
</section>

