---
layout: base.njk
templateEngineOverride: njk, md
---

<section class="px-[20%]">
    <div class="container py-16 leading-loose text-gray-700">
        <img class="rounded-3xl mb-6" src="{{ image }}" alt="{{ img-alt }}">
               <p class="pt-16 text-4xl font-semibold">{{ title }}</p>
    </div>

    <div class="text-gray-700 leading-loose">
        {{ content | safe }}
</section>
