<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon">
    <title>{{ title }}</title>
</head>
<body class="bg-primary">
    <main>
        {%- include 'header.njk' -%}
        {{ content | safe }}
        {%- include 'footer.njk' -%}
    </main>
    
</body>
</html>