<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="shortcut icon" href="/assets/jc-logo.png" type="image/x-icon">
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <title>{{ title }}</title>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CPFE2QELF4"></script>
<script src="https://cdn.lordicon.com/lordicon.js"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CPFE2QELF4');
</script>

</head>
<body class="">
    <main>
        {%- include 'header.njk' -%}
        {{ content | safe }}
        {%- include 'footer.njk' -%}
    </main>
    <script src="../main.js"></script>
    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
      </script>
      
</body>
</html>