<footer class="bg-[#222]">

   <div>
    <p class="text-center">Subscribe to our newsletter now!</p>
        <form action="" class="py-8 grid justify-center text-gray-400">
           
            <div class="">
                <label for="email">Email</label>

                <input type="email" name="email" id="email">
                <button class="bg-gray-300"><a href="">Submit</a></button>
            </div>
 
        </form>
        <div class="flex gap text-gray-400 gap-4 ">
            <p>Follow me:</p>
            <ul class="flex gap-2">
                <li><a href=""><img src="../assets/fb.svg" alt="fb-logo" class=""></a></li>
                <li><a href=""><img src="../assets/linkedin.svg" alt="linkedin-logo"></a></li>
                <li><a href=""><img src="../assets/instagram.svg" alt=""></a></li>
                <li><a href=""></a></li>
            </ul>
           
        </div>
   </div>



    <div class="container flex justify-between items-center">
    <div class=" py-4">
    <p class="text-gray-400">jcarl.online @2024</p>
    </div>
    
    </div>
</footer>