<header class="container py-8 items-center flex justify-between">
    <a href="/"><p class="font-bold text-3xl text-white">jcarl<span class='text-yellow-500'>.online</span></p></a>
    <nav>
        <ul class="flex gap-8 text-white text-sm">
            <li class="cursor-pointer hover:text-yellow-500 transition ease-in duration-500"><a href="/" class="pointer"></a>Home</li>
            <li class="cursor-pointer hover:text-yellow-500 transition ease-in duration-500"><a href="/#projects">Works</a></li>
            <li class="cursor-pointer hover:text-yellow-500 transition ease-in duration-500"><a href="#"></a>Testimonials</li>
            <li class="cursor-pointer hover:text-yellow-500 transition ease-in duration-500"><a href="#"></a>Blog</li>
            <li class="cursor-pointer hover:text-yellow-500 transition ease-in duration-500"><a href="#"></a>About me</li>
        </ul>
    </nav>
</header>