<header class="container py-4 items-center flex justify-between">
    <a href="/" class="flex gap-4 items-center">
        <img src="/assets/jc-logo.png" alt="jc-logo" class="w-16">
<!-- <p class="font-bold text-3xl text-zinc-600">j<span class='text-zinc-900'>Creatives</span></p> -->

</a>
    <nav>
        <ul class="flex gap-8 text-zinc-800 font-light ">
            <li class=" cursor-pointer hover:text-indigo-600 transition ease-in-out duration-500"><a href="/" class="pointer">Home</a></li>
            <li class="cursor-pointer hover:text-indigo-600 transition ease-in-out duration-500"><a href="/#expertise">Our Expertise</a></li>
            <li class="cursor-pointer hover:text-indigo-600 transition ease-in-out duration-500"><a href="/#choose">Why Choose us</a></li>
            <li class="cursor-pointer hover:text-indigo-600 transition ease-in-out duration-500"><a href="/#faq">FAQs</a></li>
            <li class="cursor-pointer hover:text-indigo-600 transition ease-in-out duration-500"><a href="/#blog">Blog</a></li>
            <li class="cursor-pointer hover:text-indigo-600 transition ease-in-out duration-500"><a href="#">About us</a></li>
        </ul>
    </nav>
</header>