<header class="container py-8 items-center flex justify-between">
    <a href="/" class="flex gap-4 items-center">
        <!-- <img src="../assets/jc2.png" alt="jc-logo" class="w-24"> -->
<p class="font-bold text-3xl text-zinc-600">jcarl<span class='text-zinc-900'>.online</span></p>

</a>
    <nav>
        <ul class="flex gap-8 text-zinc-800 text-sm">
            <li class="cursor-pointer hover:text-zinc-900 transition ease-in duration-500"><a href="/" class="pointer">Home</a></li>
            <li class="cursor-pointer hover:text-zinc-900 transition ease-in duration-500"><a href="/#projects">Works</a></li>
            <li class="cursor-pointer hover:text-zinc-900 transition ease-in duration-500"><a href="/#testimonials">Testimonials</a></li>
            <li class="cursor-pointer hover:text-zinc-900 transition ease-in duration-500"><a href="/#blog">Blog</a></li>
            <li class="cursor-pointer hover:text-zinc-900 transition ease-in duration-500"><a href="#">About me</a></li>
        </ul>
    </nav>
</header>