---
 layout: base.njk
 title: Articles
---

<section class="container pt-4 pb-16">
<div class=" gap-16">

    <div class="px-16">
        <ul class="grid grid-cols-3 gap-16 w-full py-8" id="searchResults">
            {% for articles in collections.articles | reverse%}
           
              <li class="py-2">
                <img src="{{articles.data.image}}" alt="bg1" class="rounded-xl">
                <div class="">
                    <p class="text-2xl text-gray-800 pt-8 font-semibold">{{articles.data.title}}</p>
                    <p class="pt-6 pb-6 text-gray-700">{{articles.data.desc}}</p>
                    <a href="{{articles.url}}" class=" bg-indigo-600 text-white px-8 py-3 rounded-3xl font-semibold hover:text-indigo-600 hover:bg-transparent border border-indigo-600 transition ease-in-out duration-500">Read more</a>
                </div>
              
              </li>
          
            {% endfor %}
          </ul>
       
</div>

</div>
</section>
      
          