---
 layout: 'base.njk'
 title: jcarl.online
---

<img src="./assets/bg.svg" alt="background" class="w-full absolute top-0 -z-10 h-[90vh] opacity-40">

<section class='container pb-32' id="#project">
    <div class="flex gap-8 items-center py-32">
        <div class="">
        <p class="text-yellow-500 font-bold text-5xl leading-[4rem]">TIRED OF SLOW WEBSITE? <br> LET'S END THAT</p>
        <p class="text-gray-400 text-xl py-12 pr-8 leading-[2rem]">Don''t let slow website cost you sales. Hi, <span class="font-bold text-yellow-500 mb-10"> I'm Carl</span> and I'm here to help you optimize your site for maximum performance and boost your online presence.</p>
        <a href="#" class="bg-yellow-500 px-6 py-4 rounded-3xl font-semibold hover:bg-transparent hover:text-yellow-500 hover:border hover:border-yellow-500 transition easi-in-out duration-500">Book a Consultation now!</a>
        </div>




        <video src="./assets/jc-online.webm" type="video/webm" poster="assets/JC.webp"  controls class='w-[50%] rounded-3xl'></video>
    </div>

    <div class="flex justify-around">
        <p class="flex gap-4 items-center font-semibold text-yellow-500"><img src="./assets/check.svg" alt="check" class="w-8 ">Web Development</p>
        <p class="flex gap-4 items-center font-semibold text-yellow-500"><img src="./assets/check.svg" alt="check" class="w-8 ">UI/UX Design</p>
        <p class="flex gap-4 items-center font-semibold text-yellow-500"><img src="./assets/check.svg" alt="check" class="w-8 ">SEO</p>
        <p class="flex gap-4 items-center font-semibold text-yellow-500"><img src="./assets/check.svg" alt="check" class="w-8 ">Web Optimization</p>
        <p class="flex gap-4 items-center font-semibold text-yellow-500"><img src="./assets/check.svg" alt="check" class="w-8 ">Social Media Marketing</p>
    </div>
</section>



<section class=" bg-zinc-900/50 text-gray-400 py-32 " id="projects">
    <p class="text-center text-yellow-500 text-5xl font-bold pb-16">PROJECTS</p>

 <div class="grid grid-cols-2 px-32 container gap-16">

    <div class="bg-zinc-800/20">
        <img src="./assets/meteor.png" alt="bg1" class="rounded-xl">
        <div class="p-8">
            <p class="text-2xl font-semibold pt-2 text-yellow-500">UNCLASSIC</p>
            <p class="py-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur odit consequuntur a explicabo ea deleniti quae ipsum expedita amet voluptate?</p>
            <a href="#" class="bg-yellow-500 text-primary px-6 py-3 rounded-3xl font-semibold hover:bg-transparent hover:text-yellow-500 hover:border hover:border-yellow-500 transition easi-in-out duration-500">Visit website</a>
        </div>
    </div>
    <div class="bg-zinc-800/20">
        <img src="./assets/meteor.png" alt="bg1" class="rounded-xl">
        <div class="p-8">
            <p class="text-2xl font-semibold pt-2 text-yellow-500">TREEHOUSE</p>
            <p class="py-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur odit consequuntur a explicabo ea deleniti quae ipsum expedita amet voluptate?</p>
            <a href="#" class="bg-yellow-500 text-primary px-6 py-3 rounded-3xl font-semibold hover:bg-transparent hover:text-yellow-500 hover:border hover:border-yellow-500 transition easi-in-out duration-500">Visit website</a>
        </div>
    </div>
    <div class="bg-zinc-800/20">
        <img src="./assets/meteor.png" alt="bg1" class="rounded-xl">
        <div class="p-8">
            <p class="text-2xl font-semibold pt-2 text-yellow-500">ROUTING4U</p>
            <p class="py-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur odit consequuntur a explicabo ea deleniti quae ipsum expedita amet voluptate?</p>
            <a href="#" class="bg-yellow-500 text-primary px-6 py-3 rounded-3xl font-semibold hover:bg-transparent hover:text-yellow-500 hover:border hover:border-yellow-500 transition easi-in-out duration-500">Visit website</a>
        </div>
    </div>
    <div class="bg-zinc-800/20">
        <img src="./assets/meteor.png" alt="bg1" class="rounded-xl">
        <div class="p-8">
            <p class="text-2xl font-semibold pt-2 text-yellow-500">AK5</p>
            <p class="py-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur odit consequuntur a explicabo ea deleniti quae ipsum expedita amet voluptate?</p>
            <a href="#" class="bg-yellow-500 text-primary px-6 py-3 rounded-3xl font-semibold hover:bg-transparent hover:text-yellow-500 hover:border hover:border-yellow-500 transition easi-in-out duration-500">Visit website</a>
        </div>
    </div>
    
 
    

 </div>
        
      
           
</section>



<section id="testimonials">

</section>